/NetBeansProjects/JavaApplication12/nbproject/private/
/NetBeansProjects/Questao1/nbproject/private/
/NetBeansProjects/Questao1/build/
/NetBeansProjects/Questao2/nbproject/private/
/NetBeansProjects/Questao2/build/
/NetBeansProjects/Questao3/nbproject/private/
/NetBeansProjects/Questao3/build/
/NetBeansProjects/Questao5/nbproject/private/
/NetBeansProjects/Questao5/build/
/NetBeansProjects/Questao4/nbproject/private/
/NetBeansProjects/Questao4/build/
